body{
    height: 100%;
}
.experience{
 border: 2px solid none;
 height: 98vh;
}

.container{
     border: 2px solid none;
     height: 100%;
      margin: 3rem;
     
}

.heading {
    color:white;
    background-color: black;
    text-align: center;
    margin: 2% 4% 4% 2%;
    font-size: 2.2rem;
    width: 92%;
    padding: 0.5rem;
}

.exp{
    width: 70%;
    margin: 2% 0 4% 4%;
    padding: 2rem;
    background: black;
    box-shadow:  12px 12px 2px 2px purple;
}

.exp:hover{
    
}
.exp h2{
    background-color: none;
    font-size: 1.8rem;
    
}
.titleimg{
    border: 2px solid none;
    display: flex;
    align-items: center;
    
}
.exp p{
    background-color: none;
    
    font-size: 1rem;
    color: white;
    padding: 2px;
    margin: 1rem;
    width: 50%;
}
.img{
    width: 40px;

}
.exp li{
    border: 1px solid none;
    margin: .8rem;
    margin-left: 1.5rem;
    word-spacing: 1px;
    width: 99%;
    font-size: .9rem;
    list-style:square;
}