.contact {
    font-family: 'Arial', sans-serif;
    background-color: rgb(50, 88, 73);
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: black;
    
}
  
header {
    border: 2px solid none;
    display: grid;
    justify-content: center;
    align-items: center;
    
}

header h1 {
    font-size: 35px;
    margin-bottom: 2rem;
    color:rgb(161, 41, 208);
}
header div{
    margin-top: 4%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(143, 236, 100);
}
.ilove{
    width: 70%;
    background-color: black;
    margin-left: 15%;
}
.container{
    display: flex;
    border: 8px solid rgb(254, 254, 254);
    justify-content: space-between;
    width: 700px;
    padding: 30px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 28%;
    color: white;
}
.box{
    border: 1px solid NONE;
}
.box a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.box i{
    
    margin: 10px;
    font-size: 25px;
}


@media (max-width:500px) {
    .contact{
        margin-top: 24%;
       
    }
    .container{
         background-color: none;
         display: grid;
         margin: 0;
         margin-top: 3rem;
         align-items: center;
         justify-content: center;
         width: 80%;
         margin-left: 10%;
         margin-right: 10%;
    }
    .box{
        margin-top: 10%;
    }
}
.arrow{
    width:100px;
    height: 100px;
    background-color: cornflowerblue;
    position:fixed;
    margin-left: 100px;
    z-index: 6;
} 