

*{
    font-family: 'Gill Sans', sans-serif;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.skill{
     border: 2px solid none;
     margin: 0px;
     width: 100%; 
     color:white;
     height: 100vh;
     background-color: black;
     display: flex;
      align-items: center;
     justify-content:  center;

}

.container{
    border: 3px solid black;
    padding:1rem;
    border-radius: 2rem;
    text-align: center;
    margin:2%;
    height: 70%;
    padding:1rem;
    width: 80%;
     
}
.container h3{
    margin-top: -4%;
       font-family:Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 45px;
       background-color: none;
       border:1px solid none;
       background-color: none;
       padding: 0px;
       margin-bottom: 5%;
}
.skillbox{
    border: 3px solid white;
    background-color: black;
    width: 100%;
    height: 90%;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,150px));
    align-items: center;
    justify-content: center;


}
.eachskill{
    border: 3px solid rgb(186, 185, 185);
    display: inline-block;
    margin:.5rem;
    border-radius: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
   color:white;
}

.eachskill:hover{
    background: rgb(144, 66, 239);
color: black;
transition: 0.2 ease-in-out;
border: 3px solid white;
color: black;
}

.eachskill img{
    width: 35%;
    height: auto;
    margin: 0.2rem;
}

@media (max-width:500px) {

.skill{
    /* background-color:chartreuse; */
    height: 100%;
}
.container{
    /* background-color: aquamarine; */
    margin: 1rem;
}

.skillbox{
     
    padding: 0px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,120px));
    
}
.eachskill{
    height: 90%;
    padding:10px;
    /* background-color: cornflowerblue; */
    
}
 


}



